.search-bar-section{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 10px solid rgb(239, 5, 5); */

    background-color:rgba(0, 0, 0,1);
    padding:1rem;
    /* margin-bottom: 4rem; */
}
.searchBar{
    width:85%;
    background-color: white;
    width:fit-content;
    display: flex;
   align-items: center;
   justify-content: space-between;

   gap:2rem;

   margin-top:5rem;
   padding:.5rem;
   padding-left:2rem;


   border-radius:10rem;

   box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.searchBarBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    gap:.4rem;
}
.searchBarBox input{
    padding:.4rem;
    border:none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.323);
}
.searchBarBox input:focus{
    outline: none;
}
.searchBarBox input::placeholder{
    font-size: 12px;
    font-weight: bold;
}
/* .searchBarBox span:nth-child(1){
         font-size: 12px;
         font-weight: bold;
} */
.searchBarBox span:nth-child(2){
         font-size: 14px;
         font-weight: bold;
         
}
.search-icon{
    border:none;
    cursor:pointer;
    background-color: red;
    padding:1rem;
    border-radius: 50%;

    transition: all .3s;
}
.search-icon:hover{
    box-shadow: 0px 0px 5px red;
}
.search-icon:active{
    background-color:rgba(195, 19, 19, 0.496);
}
.vertical-line{
    width:3px;
    height:50px;
    background-color: rgba(0, 0, 0,.2);
}